<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.gdevelop.gwt.syncrpc"
	android:versionCode="1"
	android:versionName="0.4" android:installLocation="internalOnly">

	<uses-sdk
		android:minSdkVersion="4"
		android:targetSdkVersion="17" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme" >
		<activity
			android:name="com.gdevelop.gwt.syncrpc.android.AccountList"
			android:label="@string/accountListTitle" />
	</application>

</manifest>