/SPWebTest/war/WEB-INF/client_ids.properties
/SPAAppTest/res/values/client_ids.xml
/.metadata
/gdata
/google-play-services_lib_filtered
/gwt-2.7.0
/SPWebTest/gwt-unitCache
/SPWebTest/war/spawebtest
/SPWebTest/war/com.gdevelop.gwt.syncrpc.spawebtest.SPAGWTTest.JUnit
/SPWebTest/war/com.google.gwt.safehtml.SafeHtmlTestsModule.JUnit
/SPWebTest/war/com.google.gwt.user.LoggingRPCSuite.JUnit
/SPWebTest/war/com.google.gwt.user.RPCSuite.JUnit
/SPWebTest/war/com.google.gwt.user.RPCSuite.JUnit.rpc.XserializeFinalFields_true
/SPWebTest/war/WEB-INF/deploy
/SPWebTest/war/WEB-INF/classes
/google-web-toolkit
/RemoteSystemsTempFiles
/SPAAppTest/bin
/SPALibrary/bin
/SPWebTest/.gwt
/SPAAppTest/tests/bin
