<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/gwt-syncproxy/src/test/java/com/gdevelop/gwt/syncrpc/ManualAuthTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.gdevelop.gwt.syncrpc.ManualAuthTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="gwt-syncproxy"/>
</launchConfiguration>
